/.vscode
chapter1/goc
/writing-a-c-compiler-tests
chapter2/goc
chapter2/test
chapter3/goc
chapter3/test
chapter4/goc
chapter4/test
chapter5/goc
chapter5/test
chapter6/goc
chapter6/test
chapter7/goc
chapter7/test
